/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Variables */
:root {
  --white: #ffffff;
  --yellow: #ffecb5;
  --green: #0e7757;
  --red: #cc0000;
  --dk-gray: #212121;

  --sm: 0.375rem; /* 6px */
  --md: 0.75rem; /* 12px */
  --lg: 1.5rem; /* 24px */
  --xl: 3rem; /* 48px */

  --font-heading: 2.375rem; /* 38px */
  --font-copy: 1rem; /* 16px */

  --lh-heading: 2.5rem; /* 40px */
  --lh-copy: 1.5rem; /* 24px */
}

/* Styling */

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--md);
}

header {
  background-color: var(--green);
  padding: var(--md);
}

header * {
  color: var(--white);
}

.title {
  font-size: var(--font-heading);
  line-height: var(--lh-heading);
  font-weight: bold;
  text-decoration: none;
}

.navmenu {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.navmenu > li {
  margin-right: var(--lg);
}

#reminder,
#reminder-close {
  background-color: var(--yellow);
}

#reminder {
  display: flex;
  padding: var(--sm);
  margin: var(--lg) var(--md);
}

#reminder-close {
  margin-left: var(--lg);
  border: none;
  cursor: pointer;
}

#reminder-close > svg {
  height: 24px;
  width: 24px;
}

.heading {
  color: var(--green);
  font-size: var(--font-heading);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.175rem;
  font-weight: 400;
  line-height: var(--lh-heading);
  padding: var(--sm) var(--md);
}

.copy {
  line-height: var(--lh-copy);
  color: var(--dk-gray);
  padding: var(--sm) var(--md);
}

form {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--md);
}

form > * {
  margin: var(--sm) 0;
}

label {
  font-weight: bold;
}

.input > input,
.input > textarea {
  font-size: var(--font-copy);
  padding: var(--md);
  width: 100%;
}

.input > textarea {
  height: 15ch;
}

form > button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  align-self: flex-start;
  padding: var(--md) var(--xl);
  cursor: pointer;
}

form > button:disabled {
  cursor: not-allowed;
}

label > span {
  color: var(--red);
  font-weight: normal;
}

#full-name-error,
#email-error,
#message-error {
  color: var(--red);
  font-weight: bold;
}

#success {
  border: solid 1px var(--green);
  padding: var(--sm);
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--lg);
  }

  #reminder {
    margin: var(--lg) var(--xl);
    justify-content: space-between;
    width: 75%;
  }

  #reminder > p {
    align-self: center;
    padding: var(--md);
  }

  #reminder-close {
    padding: var(--md);
  }

  .container {
    display: grid;
    grid-template-columns: 45% 55%;
    width: 75%;
    margin-top: var(--lg);
  }

  form {
    align-self: center;
    width: 75%;
    margin: 0 var(--xl);
    display: grid;
    grid-template-areas:
      "n e ."
      "m m m"
      "s . .";
    grid-template-columns: 40% 40% 20%;
  }

  .name {
    grid-area: n;
    margin-right: var(--lg);
  }
  .email {
    grid-area: e;
  }
  .message {
    grid-area: m;
  }
  form > button {
    grid-area: s;
    display: flex;
    justify-content: center;
    width: 75%;
  }

  #success {
    margin-left: var(--lg);
  }
}
